div {
  background-color: tomato;
  padding: 15px;
  text-align: center;
  margin: 10px;
}

.second-section {
  background-color: cadetblue;
  text-align: start;

}

ul {
  list-style: none;
  padding: 0px;
}